{% load static %}
{% load viewcomponent_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dino World</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
</head>
<body>
  {% component 'Sidebar' as menu %}
    {% call menu.Element ico='home' tittle='zzzz' url='zzzz'%}
    {% endcall %}
    {% call menu.Element ico='home' tittle='zzzz' url='zzzz'%}
    {% endcall %}
  {% endcomponent %}
</body>
</html>
