{% load static %} 
{% load viewcomponent_tags %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dino World</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
    {% tailwind_css %}
  </head>
  <body>

    {% component 'Sidebar' usuario=username as menu %}

      {% call menu.Element ico='home' tittle='Dashboard' url='zzzz'%}
      {% endcall %}

      {% call menu.Element ico='transfer' tittle='Transferir' url='#'%}
      {% endcall %}

      {% call menu.Element ico='admin' tittle='Administrar' url='#'%}
      {% endcall %}

      {% call menu.Element ico='settings' tittle='Configuracion' url='#'%}
      {% endcall %}

      {% call menu.Element ico='exit' tittle='Salir' url=''%}
      {% endcall %}
    
    {% endcomponent %}

    <div class="xl:pl-96">
    {% if Error == True%}
      <span style="color: crimson"> Valor incorrecto</span>
    {%endif%}
    </div>

    {% component 'Dashboard' usr=iduser usrname=username%}
    {% endcomponent %}
    
    
  </body>
</html>
